a:link {color:#33FF33;text-decoration:none} 
a:active {color:#33FF33;text-decoration:none}
a:visited {color:#33FF33;text-decoration:none} 
a:hover {color:red;text-decoration:none;background-color:black} 
